/* #region ArrowToTop */
.arrow-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: var(--light-red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
}

.arrow-to-top.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

/* Media Queries */
@media (max-width: 768px) {
    .arrow-to-top {
        width: 45px;
        height: 45px;
        font-size: 1.75rem;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 576px) {
    .arrow-to-top {
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
        bottom: 15px;
        right: 15px;
    }
}

/* #endregion */