/* #region Breathalyzer */
.breathalyzer-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.breathalyzer-img {
    width: 150px;
    height: auto;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.breathalyzer-text {
    width: 70%;
    font-size: 1.35rem;
    margin-left: 20px;
}

.breathalyzer-banner {
    width: 100%;
    margin-top: 20px;
    background-color: var(--s30-yel);
    padding: 2rem;
    color: var(--dark-red);
}

.breathalyzer-banner h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.breathalyzer-banner p {
    margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 1200px) {
    .breathalyzer-text {
        width: 75%;
        font-size: 1.25rem;
    }
}

@media (max-width: 992px) {
    .breathalyzer-img {
        width: 130px;
    }

    .breathalyzer-text {
        width: 70%;
        font-size: 1.2rem;
    }

    .breathalyzer-banner {
        padding: 1.5rem;
    }

    .breathalyzer-banner h3 {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {
    .breathalyzer-row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .breathalyzer-img {
        width: 120px;
        margin-bottom: 15px;
    }

    .breathalyzer-text {
        width: 100%;
        font-size: 1.1rem;
        margin-left: 0px;
    }

    .breathalyzer-banner {
        padding: 1.25rem;
    }

    .breathalyzer-banner h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .breathalyzer-img {
        width: 100px;
    }

    .breathalyzer-text {
        font-size: 1rem;
    }

    .breathalyzer-banner {
        padding: 1rem;
    }

    .breathalyzer-banner h3 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
}

/* #endregion */