/* #region Composition */
.composition {
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    background-color: var(--s30-beige);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 10px;
    font-size: 2rem;
    padding-bottom: 20px;
    text-align: left;
}

tbody tr {
    display: flex;
}

tbody tr td {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

tbody p {
    margin-bottom: 10px;
}

.plant-img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.plant-description {
    width: 60%;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.border-right {
    border-right: 1px solid black;
}

/* Media Queries */
@media (max-width: 1270px) {
    th {
        font-size: 1.8rem;
    }

    .plant-img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 1200px) {
    .composition {
        padding: 2.5rem 0;
    }

    th {
        font-size: 1.7rem;
    }

    .plant-img {
        width: 160px;
        height: 160px;
    }

    .plant-description {
        width: 65%;
    }
}

@media (max-width: 1081px) {
    tbody tr td {
        width: 50%;
        gap: 10px;
    }

    tbody tr td:last-child {
        width: 100%;
        margin-top: 15px;
    }

    .plant-img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 992px) {
    .composition {
        padding: 2rem 0;
    }

    th {
        font-size: 1.6rem;
        padding-bottom: 15px;
    }

    tbody tr {
        flex-direction: column;
    }

    tbody tr td {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    tbody tr td:last-child {
        margin-top: 0;
    }

    .border-right {
        border-right: none;
    }

    .border-bottom {
        border-bottom: none;
    }

    .plant-img {
        width: 50px;
        height: 50px;
    }

    .plant-description {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .composition {
        padding: 1.5rem 0;
    }

    th {
        font-size: 1.4rem;
        text-align: center;
    }

    tbody tr td {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    .plant-img {
        width: 50px;
        height: 50px;
    }

    .plant-description {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .composition {
        padding: 1rem 0;
    }

    th {
        font-size: 1.2rem;
        padding: 5px;
    }

    tbody tr td {
        padding: 8px;
        gap: 10px;
    }

    .plant-img {
        width: 50px;
        height: 50px;
    }

    .plant-description {
        width: 100%;
    }
}

/* #endregion */